In [77]:
import pandas as pd

In [78]:
df = pd.read_csv('ocorrencia.csv', parse_dates=['ocorrencia_dia'])
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-06-01,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-06-01,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-06-01,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-06-01,16:30:00,0

In [79]:
df.loc[df.ocorrencia_uf == 'RS']
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-06-01,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-06-01,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-06-01,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-06-01,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5145,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5146,80452,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5147,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5148,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5149,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [80]:
df.loc[1, 'ocorrencia_cidade']

'GUARULHOS'

In [81]:
df.loc[[0,2,40]]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
2,45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-06-01,13:00:00,0
40,45415,45415,ACIDENTE,RIO DE JANEIRO,RJ,****,2012-01-30,13:55:00,0

In [82]:
df.codigo_ocorrencia.is_unique

True

In [83]:
df.set_index('codigo_ocorrencia', inplace=True)

In [84]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-06-01,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,****,2012-06-01,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-06-01,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-06-01,16:30:00,0

In [85]:
df.reset_index(drop=True, inplace=True)

In [86]:
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-06-01,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,****,2012-06-01,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,****,2012-06-01,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,****,2012-06-01,16:30:00,0
...,...,...,...,...,...,...,...,...
5145,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5146,80452,ACIDENTE,MARACAÍ,SP,*****,2021-12-31,09:30:00,0
5147,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5148,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5149,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [87]:
# df.loc[df.ocorrencia_uf == 'RS', ['ocorrencia_classificacao']] = 'INCIDENTE GRAVE'
# df.loc[df.ocorrencia_uf == 'RS']

In [88]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-06-01,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,<NA>,2012-06-01,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,<NA>,2012-06-01,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-06-01,16:30:00,0

In [90]:
df.replace(['**', '****', '*****', 'NULL', '####', '###!', ], pd.NA, inplace=True)
df

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-05-01,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-06-01,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,<NA>,2012-06-01,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,<NA>,2012-06-01,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-06-01,16:30:00,0
...,...,...,...,...,...,...,...,...
5145,80458,ACIDENTE,JATAÍ,GO,<NA>,2021-12-30,20:30:00,0
5146,80452,ACIDENTE,MARACAÍ,SP,<NA>,2021-12-31,09:30:00,0
5147,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5148,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5149,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

In [92]:
df.isna().sum()

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1897
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64